graphs_regions/grafo_nova_york_com_bairros.graphml filter=lfs diff=lfs merge=lfs -text
graphs_regions/grafo_rj_com_bairros.graphml filter=lfs diff=lfs merge=lfs -text
graphs_regions/grafo_berlim_com_bairros.graphml filter=lfs diff=lfs merge=lfs -text
